/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #2e8555;
  --ifm-color-primary-dark: #29784c;
  --ifm-color-primary-darker: #277148;
  --ifm-color-primary-darkest: #205d3b;
  --ifm-color-primary-light: #33925d;
  --ifm-color-primary-lighter: #359962;
  --ifm-color-primary-lightest: #3cad6e;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */

[data-theme='dark'] {
  --ifm-color-primary: #00d1b2;
  --ifm-color-primary-dark: #00bca0;
  --ifm-color-primary-darker: #00b297;
  --ifm-color-primary-darkest: #00927d;
  --ifm-color-primary-light: #00e6c4;
  --ifm-color-primary-lighter: #00f0cd;
  --ifm-color-primary-lightest: #11ffdc;
}
